@import '../../../../commun/styles/sass/mixins';


.aboutUsBlock {
  background-color: #f7be68;
 text-align: left;
  margin: 10px;
  width: 45%;
  font-family: "Comic Sans MS",cursive;
  font-weight: bold;
  font-size: large;


}