@import '../../commun/styles/sass/mixins';


.footerBlock {
  @include flex(row, space-around, center, wrap);
  /* border: 1px solid red;*/
  background-color: #333;
  color: whitesmoke;
  height: 50px;
  width: 100%;
  padding: 20px 0;
  font-size: small;


}